name: Test Report
on:
  workflow_run:
    workflows:
      - Restore, Build and Test Solution
    types:
      - completed
jobs:
  report:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    steps:
      - name: Test Reporter
        uses: dorny/test-reporter@v1.5.0
        if: success() || failure()
        with:
          name: xUnit Tests (${{ matrix.os }})
          reporter: dotnet-trx
          path: ${{ matrix.os }}.trx
          artifact: test-results
          fail-on-error: false
